button{
    margin-left:0.5%;
    margin-top:2%;
}



.user-item:hover {
    background-color: #e6e6e6;
    transition: background-color 0.3s ease;
}

.user-container{
    margin-bottom: 20px;
/*     margin-top: 100px; */
}

.userboard {
    list-style: none;
    padding: 0;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    margin-right: 10px;
}



.container-leaderboard {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.user-container {
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.player-name {
    font-weight: bold;
    margin-right: auto;
}
.edit-form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: auto;
    width: 50%;
}
.form-group{
    margin-right: 20%;
}

@media (max-width: 800px) {
    
  
    .edit-form{
      flex-direction: column;
      align-items: stretch;
    }
  }

 .userScores{
    display: line;
 }
 
 .deleteButton{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
 }
 .deleteButton:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
 }

