html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header nav a {
    font-size: 1.5rem;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

.innercover {
    flex: 1;
    padding: 50px 0;
}

.text-decoration-underline {
    text-decoration: underline;
}

.lh-lg {
    line-height: 1.75;
}

.footer {
    background-color: #000000; /* color de fondo para el pie de página */
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column; /* Arrange children elements in a column */
}

.footer-links {
    display: flex;
    justify-content: center; /* Horizontally center the links */
    padding-top: 10px; /* Optional: add some space above the links */
}

.footer-links a {
    margin: 0 10px; /* Add some space between the links */
}

.footer-links a img {
    width: 30px;
    height: 30px;
}
